                            	   </table>
                                <!-- // END BODY -->
                                </td>
                            </tr>
                            <tr>
                                <td align="center" valign="top">
                                	<!-- BEGIN FOOTER // -->
                                    <table border="0" cellpadding="0" cellspacing="0" width="100%" id="templateFooter">
                                        <tr>
                                            <td valign="top" class="footerContent" style="padding-top:0; text-align: center; color: black;" mc:edit="footer_content01">

                                            	<div style="background-color: #EEEEEE; height: 1px;"></div>

                                                <div style="text-align: center;">
                                                    <div style="line-height: 20.7999992370605px; text-align: center;   padding-top: 14px; padding-bottom: 5px;"><strong>Homyn Srl •&nbsp;</strong>Piazza Vittorio Bertarelli, 4 – 20122&nbsp;Milano, Italia<br>
                                                    P.IVA: 08705410960&nbsp;<span style="line-height:20.7999992370605px">Tel: 02 23992983</span></div>
                                                    <%= link_to "Termini e Condizioni del servizio", terms_url %>
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                    <!-- // END FOOTER -->
                                </td>
                            </tr>
                        </table>
                        <!-- // END TEMPLATE -->
                    </td>
                </tr>
            </table>
        </center>
    </body>
</html>
